# 0 — Database Initialization and Sample Data Setup

This notebook initializes the SQL database used in the Option Pricing / Black–Scholes project.

It performs the following steps:

1. Import the database module.
2. Ensure that the SQL schema is created (`ensure_schema()`).
3. Insert a minimal sample dataset (`assets`, `asset_prices`, `option_quotes`).
4. Demonstrate simple SQL queries to confirm that everything works.

All data is stored in a single SQLite database:
`data/option_pricing.db`

In [1]:
import sys
from pathlib import Path

project_root = Path(r"C:\Users\Ruben\Desktop\Projects\OptionPricing")
sys.path.append(str(project_root))

print("Added to path:", project_root)

Added to path: C:\Users\Ruben\Desktop\Projects\OptionPricing

In [2]:
from option_pricing.db import ensure_schema, get_connection, DB_PATH

print("Database path:", DB_PATH)

Database path: C:\Users\Ruben\Desktop\Projects\OptionPricing\data\option_pricing.db

In [3]:
ensure_schema()
print("SQL schema created successfully.")

SQL schema created successfully.

In [4]:
conn = get_connection()

# Insert asset
conn.execute("""
INSERT OR IGNORE INTO assets(symbol, name, type)
VALUES ('AAPL', 'Apple Inc.', 'STOCK');
""")

# Insert sample prices
conn.execute("""
INSERT OR IGNORE INTO asset_prices(symbol, date, close)
VALUES 
    ('AAPL', '2025-01-02', 210.50),
    ('AAPL', '2025-01-03', 212.20);
""")

# Insert sample option quotes
conn.execute("""
INSERT OR IGNORE INTO option_quotes(
    underlying_symbol, quote_date, expiration_date,
    strike, option_type, bid, ask, mid,
    underlying_price, risk_free_rate, dividend_yield, source
)
VALUES
    ('AAPL', '2025-01-03', '2025-03-21',
     210, 'CALL', 5.10, 5.40, 5.25,
     212.20, 0.045, 0.00, 'MANUAL'),

    ('AAPL', '2025-01-03', '2025-03-21',
     210, 'PUT', 4.80, 5.05, 4.93,
     212.20, 0.045, 0.00, 'MANUAL');
""")

conn.commit()
conn.close()

print("Sample data inserted successfully.")

Sample data inserted successfully.

In [5]:
conn = get_connection()

rows = conn.execute("SELECT * FROM assets;").fetchall()
print("Assets:")
for r in rows:
    print(dict(r))

rows = conn.execute("SELECT * FROM asset_prices;").fetchall()
print("\nAsset Prices:")
for r in rows:
    print(dict(r))

rows = conn.execute("SELECT * FROM option_quotes;").fetchall()
print("\nOption Quotes:")
for r in rows:
    print(dict(r))

conn.close()

Assets:
{'symbol': 'AAPL', 'name': 'Apple Inc.', 'type': 'STOCK'}

Asset Prices:
{'symbol': 'AAPL', 'date': '2025-01-02', 'close': 210.5}
{'symbol': 'AAPL', 'date': '2025-01-03', 'close': 212.2}

Option Quotes:
{'id': 1, 'underlying_symbol': 'AAPL', 'quote_date': '2025-01-03', 'expiration_date': '2025-03-21', 'strike': 210.0, 'option_type': 'CALL', 'bid': 5.1, 'ask': 5.4, 'mid': 5.25, 'underlying_price': 212.2, 'risk_free_rate': 0.045, 'dividend_yield': 0.0, 'source': 'MANUAL'}
{'id': 2, 'underlying_symbol': 'AAPL', 'quote_date': '2025-01-03', 'expiration_date': '2025-03-21', 'strike': 210.0, 'option_type': 'PUT', 'bid': 4.8, 'ask': 5.05, 'mid': 4.93, 'underlying_price': 212.2, 'risk_free_rate': 0.045, 'dividend_yield': 0.0, 'source': 'MANUAL'}

# Summary

The database is now initialized and contains:

- a valid SQL schema,
- one sample asset (`AAPL`),
- two sample price observations,
- two sample option quotes.

This completes the setup required for the next notebook:
**`1-black-scholes-basics.ipynb`**
In the next notebook, we will:

- derive the Black–Scholes equations,
- implement basic pricing functions,
- test them on the sample data inserted here.